<div class='modal-first'>
  <h2 class='modal-first__title'>{{strDrink}}</h2>
  <div class='modal-first__instractions'>
    <h3 class='modal-first__title-second'>Instractions:</h3>

    <p class='modal-first__text'>{{strInstructions}}</p>

  </div>
  <img class='modal-first__img' src='{{strDrinkThumb}}' alt='{{strDrink}}' />
  <div class='modal-first__ingridients'>
    <h3 class='modal-first__title-second ingridients'>INGREDIENTS</h3>
    <span class='modal-first__span'>Per cocktail</span>
    <ul class='modal-first__list list'>
      {{#each strIngredient}}<li class='modal-first__item'>{{this}}</li>
      {{/each}}
    </ul>
  </div>
  <button type='button' class='modal-first__button'>Add to favorite</button>

  <svg
    class='modal-first__icon-close'
    width='32px'
    height='32px'
    data-modal-close
  >
    <use href='http://localhost:1234/close.svg'></use>
  </svg>
</div>