<button type="button" class="campari-btn__close red">
    <img src="http://localhost:1234/close.svg" class='campari-icon__close red' width='32px' height='32px' data-modal-close>
    </img>
</button>

    <h2 class="campari-title">{{strIngredient}}</h2>
    
    <h3 class="campari-title__min">{{strType}}</h3>

    <div class="campari-line"></div>

    <p class="campari-text">
        {{strDescription}}
    </p>
    
    <ul class="list campari-list">
        <li class="campari-list__item">
            <span class="campari-list__itemb">✶ </span>Type: {{strType}}
        </li>
        <li class="campari-list__item">
            <span class="campari-list__itemb">✶ </span>Alcohol by volume:
            {{strABV}}%
        </li>
    </ul>

<button type="button" class="btn__orange campari-btn__add">
    Add to favorite
</button>