<svg
  class='campari-btn__close red modal-first__icon-close exp'
  data-modal-close
>
  <use
    href='https://vokoloven.github.io/hardcore-bar/all_svg.svg#icon-clarity_close-line-black'
  ></use>
</svg>

<div class='top-container'>
  <h2 class='campari-title'>{{strIngredient}}</h2>

  <h3 class='campari-title__min'>{{strType}}</h3>
</div>

<div class='campari-line'></div>

<div class='bot-container'>
  <p class='campari-text'>
    {{strDescription}}
  </p>

  <ul class='list campari-list'>
    <li class='campari-list__item'>
      <span class='campari-list__itemb'>✶ </span>Type:
      {{strType}}
    </li>
    <li class='campari-list__item'>
      <span class='campari-list__itemb'>✶ </span>Alcohol by volume:
      {{strABV}}%
    </li>
  </ul>

  <button type='button' class='btn__orange campari-btn__add'>
    Add to favorite
  </button>
</div>